<div class="jumbotron">
  <div class="width-wrapper">
    <div class="slogan">Discover your best future</div>
    <div class="desc">We connect top talent with top employers</div>
    <div class="lead">
      <a class="blue-btn" href="/jobs">Go Now!!</a>
    </div>
  </div>

</div>

<div class="active-company-container">
  <div class="company-width-wrapper">
    <div class="container-title">Connect with your dream companies</div>
    <div class="active-company-wrapper singapore selected">
      <div class="active-company-line">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/singapore/1-eeb484d5b1ce16c2494a0cfc13becbd4.png">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/singapore/2-b536a747f396f2e4543205a9c5abf936.png">
      </div>
      <div class="active-company-line">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/singapore/3-be4ea3526d6b2093fa4087104313b9a9.png">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/singapore/4-074565febd3a9eeea1b1f435f2cee42d.png">
      </div>
      <div class="active-company-line">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/singapore/5-7c602ac27dadfdc8eb9bf87c4ec28de1.png">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/singapore/6-9ad3c544453454d820c9be2b600b5203.png">
      </div>
      <div class="active-company-line">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/singapore/7-02dd8d65ca134033cc75467518393bd8.png">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/singapore/8-de9cfcf945c9a74c0ce5f80a126b6c7f.png">
      </div>
    </div>
    <div class="active-company-wrapper china">
      <div class="active-company-line">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/china/1-9196b31d49ad5d987d88386c93f9bfbe.png">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/china/2-f7d05a9c844ecf619c0896dd47c35854.png">
      </div>
      <div class="active-company-line">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/china/3-c6924adc3931ba091efd61331fc658f1.png">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/china/4-15d520909f982cf8efa575dc573861e4.png">
      </div>
      <div class="active-company-line">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/china/5-5d450e8a935481251da60045ffcf3edc.png">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/china/6-d87aee997fb7dfad65b7ab0e144f01f4.png">
      </div>
      <div class="active-company-line">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/china/7-efd0664aab9210bec2beeef8dff6447e.png">
        <img src="https://bran-assets.b0.upaiyun.com/assets/index/active_company/china/8-e3e76a7d55252b39bdb6552dcad6c0f4.png">
      </div>
    </div>
  </div>
</div>

<div class="service-container bg-gray">
  <div class="company-width-wrapper">
    <div class="container-title">Why Z-Offer?</div>
    <div class="service-wrapper">
      <div class="service-block">
        <img alt="1" src="https://bran-assets.b0.upaiyun.com/assets/index/service/1-de4d875f0b28d3e668758f03310df5ce.png">
        <div class="desc-wrapper">
          <div class="desc">You can expect to receive 5-10 interview invitations within a week.
          </div>
        </div>
      </div>
      <div class="service-block">
        <img alt="2" src="https://bran-assets.b0.upaiyun.com/assets/index/service/2-4612ab99b2712cc5977600f98b0266fb.png">
        <div class="desc-wrapper">
          <div class="desc">We make your anonymous profile visible to the top 5% employers only.
          </div>
        </div>
      </div>
      <div class="service-block">
        <img alt="3" src="https://bran-assets.b0.upaiyun.com/assets/index/service/3-dd86dcd29aa6e7841b59bb3aa78b3079.png">
        <div class="desc-wrapper">
          <div class="desc">Your privacy is our priority. Your identity will be kept confidential unless you accept the interview invitation.
          </div>
        </div>
      </div>
      <div class="service-block">
        <img alt="5" src="https://bran-assets.b0.upaiyun.com/assets/index/service/5-bcaca72b01c67aaeac3f1b96690bc103.png">
        <div class="desc-wrapper">
          <div class="desc">A dedicated consultant will walk through the whole process with you.</div>
        </div>
      </div>
      <div class="service-block">
        <img alt="6" src="https://bran-assets.b0.upaiyun.com/assets/index/service/6-45bea0820845c4fe0134622164add14e.png">
        <div class="desc-wrapper">
          <div class="desc">It's free of charge. And you will receive a gift from us when you start your new role.
          </div>
        </div>
      </div>
      <div class="service-block">
      </div>
    </div>
  </div>
</div
